.fondo {
    background-color: rgba(0, 0, 0, 0.9);
    background: url(../../assets/image/fondo-AyPRJu.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}